body {
  background: #f5f5f5;

  ::placeholder {
    opacity: 0.45;
  }
}

@import "utils";
@import "forms";

.logoImg {
  border-radius: 50%;
  background-color: #dedede;
  width: 10.5vw;
  height: 10vw;
}
